@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    user-select: none; /* Disable text selection */
  }
  

  @media screen and (display-mode: fullscreen) {
    body {
      visibility: hidden;
    }
  }

  /* Roman numeral style for ordered lists */
.list-roman {
  list-style-type: upper-roman; /* Use Roman numerals */
}

.list-roman li::marker {
  color: red; /* Change the Roman numeral color */
}
  